.gameFinishedComponent {
    align-items: center;
    background-color: var(--tiffany-blue);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    gap: 16px;
    left: 50%;
    padding: 16px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.gameFinishedComponent p {
    text-align: center;
}

.button {
    background-color: var(--light-pink);
    border-radius: 10px;
    border: 0;
    color: var(--violet);
    cursor: pointer;
    font-weight: 600;
    padding: 8px;
}