.board {
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    left: 50%;
    position: relative;
    transform: translate(-50%);
    width: max-content;
}

.board > * {
    align-items: center;
    background-color: var(--tiffany-blue);
    display: flex;
    font-size: 4rem;
    height: 100px;
    justify-content: center;
    width: 100px;
}

.card {
    border-radius: 10px;
    color: var(--violet);
    cursor: pointer;
    perspective: 500px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    transition: transform .7s;
}

.flipped {
    color: var(--violet);
    transform: rotateY(0deg);
}

.cardFront, 
.cardBack {
    backface-visibility: hidden;
    border-radius: 10px;
    height: inherit;
    position: absolute;
    width: inherit;
}

.cardFront {
    background-color: blue;
}

.cardBack {
    align-items: center;
    backface-visibility: hidden;
    background-color: var(--light-pink);
    color: var(--light-green);
    display: flex;
    justify-content: center;
    position: absolute;
}

.matchedO, 
.matchedX {
    transform: rotateY(0);
    transition-duration: 1s;
}

.matchedO {
    color: red;
}

.matchedX {
    color: blue;
}