.scoreBoard {
    display: flex;
    font-size: 2rem;
    justify-content: space-evenly;
}

.playerTurn {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.scoreContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.scores {
    display: flex;
    flex-direction: row;
    font-size: 3rem;
}

.playerXScore {
    color: blue;
}

.hyphen {
    padding: 0 4px;
}

.playerOScore {
    color: red;
}

.xTurn,
.oTurn {
    font-size: 3rem;
    font-weight: 600;
}

.xTurn {
    color: blue;
}

.oTurn {
    color: red;
}

