:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 10px;
  color-scheme: light dark;
  color: var(--black);
  background-color: var(--white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black: #000000;
  --white: #FFF;
  --tiffany-blue: #A8DCD9;
  --snow: #FDF7FA;
  --violet: #60435F;
  --hot-pink: #D67AB1;
  --light-pink: #E2A3C7;
}



